Repository ita-social-projects/GreenCityClient, pull requests merged in 2023-09, with the labels that each got.

#2660 bugfix/#6143,#6148-Add deactivation an employee to the employee card
  src/app/shared/dialog-pop-up/dialog-pop-up.component.ts
  src/app/store/actions/employee.actions.ts
  src/app/store/effects/employee.effects.ts
  src/app/store/reducers/employee.reducer.ts
  src/app/ubs/ubs-admin/components/add-payment/add-payment.component.ts
  src/app/ubs/ubs-admin/components/add-violations/add-violations.component.ts
  src/app/ubs/ubs-admin/components/ubs-admin-employee/ubs-admin-employee-permissions-form/ubs-admin-employee-permissions-form.component.ts
  src/app/ubs/ubs-admin/components/ubs-admin-employee/ubs-admin-employee-table/employee-models.enum.ts
  src/app/ubs/ubs-admin/components/ubs-admin-employee/ubs-admin-employee-table/ubs-admin-employee-table.component.html
  src/app/ubs/ubs-admin/components/ubs-admin-employee/ubs-admin-employee-table/ubs-admin-employee-table.component.ts
  src/app/ubs/ubs-admin/components/ubs-admin-order-payment/ubs-admin-order-payment.component.ts
  src/app/ubs/ubs-admin/models/ubs-admin.interface.ts
  src/app/ubs/ubs-admin/services/ubs-admin-employee.service.spec.ts
  src/app/ubs/ubs-admin/services/ubs-admin-employee.service.ts
  src/assets/i18n/ubs-admin/en.json
  src/assets/i18n/ubs-admin/ua.json
Labels: bug, UI

#2661 bugfix/#6291-Pop-up-window-About-service-closes-after-opening-by-itself
  src/app/shared/header/header.component.html
  src/app/shared/header/header.component.ts
Labels: bug, UI

#2662 Bugfix/#6178/Location is not displayed on Event Card when both 'Place' and 'Online' checkboxes are checked
  src/app/main/component/events/components/event-details/event-details.component.html
  src/app/main/component/shared/components/events-list-item/events-list-item.component.html
Labels: Event

#2672 Feature&Bugs/#5899#6156 #6164/Default display in "set start time" field current time + one hour is not shown. "All day" option doesn't set 00 am to 12 pm. The end time of the event disappears when the userre-select the "All Day" check box
  src/app/main/component/events/components/create-edit-events/create-edit-events.component.html
  src/app/main/component/events/components/create-edit-events/create-edit-events.component.ts
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.html
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.spec.ts
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.ts
  src/app/main/component/events/models/events.interface.ts
Labels: bug, Feature, Event

#2658 Bugfix/#6165#6175#6194#6304#6176#6325#6326/the system does not highlight the empty mandatory location Check boxes and Description in red. Minimum number of characters in Description is 20. Corrected CSS
  src/app/main/component/events/components/create-edit-events/create-edit-events.component.html
  src/app/main/component/events/components/create-edit-events/create-edit-events.component.scss
  src/app/main/component/events/components/create-edit-events/create-edit-events.component.spec.ts
  src/app/main/component/events/components/create-edit-events/create-edit-events.component.ts
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.html
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.scss
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.spec.ts
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.ts
  src/app/main/component/events/models/events.interface.ts
  src/app/main/component/events/services/events.service.ts
  src/styles.scss
Labels: Event

#2690 Bugfix/#6365/If you choose the same date on the second day as the first day, the Place and Time of the second day are deleted
  src/app/main/component/events/components/create-edit-events/create-edit-events.component.ts
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.html
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.ts
Labels: bug, Event

#2689 Bugfix/Feature/#6363/Take away possibility to change a date for past dates.
  src/app/main/component/events/components/create-edit-events/create-edit-events.component.html
  src/app/main/component/events/components/create-edit-events/create-edit-events.component.ts
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.html
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.spec.ts
  src/app/main/component/events/components/event-date-time-picker/event-date-time-picker.component.ts
  src/app/main/component/events/models/event-consts.ts
  src/app/main/component/events/models/events.interface.ts
  src/app/main/component/events/services/events.service.ts
  src/app/main/component/user/components/habit/add-edit-custom-habit/add-edit-custom-habit.component.ts
  src/app/main/service/localstorage/local-storage.service.ts
Labels: bug, Feature, Event

#2698 bugfix/#6321-Change-tariffs-page-styles
  src/app/ubs/ubs-admin/components/ubs-admin-tariffs/ubs-admin-tariffs-location-dashboard.component.scss
Labels: bug, UI

#2694 Bugfix/#6305/buttons do not fit 320 p screen resolutions
  src/app/main/component/user/components/profile/profile-dashboard/profile-dashboard.component.scss
Labels: bug, Habits

#2696 Bugfix/#6260#6261#6386#6182/Pop up with a list of all habits in progress appears in ukrainian in en localization and vise versa. "Мої досягнення", "Переглянуто" and "Позначити все" do not fit.
  src/app/main/component/shared/components/calendar-base/calendar-base.component.ts
  src/app/main/component/shared/components/events-list-item/events-list-item.component.ts
  src/app/main/component/user/components/profile/eco-places/eco-places.component.scss
  src/app/main/component/user/components/profile/profile-widget/profile-progress/profile-progress.component.scss
  src/app/main/component/user/components/profile/profile.component.html
  src/app/main/component/user/components/profile/profile.component.ts
  src/app/main/component/user/components/profile/shopping-list/shopping-list.component.scss
  src/app/main/component/user/components/profile/users-achievements/users-achievements.component.html
  src/app/main/component/user/components/profile/users-achievements/users-achievements.component.scss
  src/app/main/component/user/components/profile/users-achievements/users-achievements.component.ts
  src/app/main/component/user/components/profile/users-friends/users-friends.component.scss
Labels: bug, My Habits

#2700 Bugfix/#6394#6397#6172/An "Open" button has a long bottom and a "Social" inscription isn't on its place. Зберегти подію' and 'Скасувати приєднання' buttons' are in two lines
  src/app/main/component/events/components/event-details/event-details.component.html
  src/app/main/component/events/components/event-details/event-details.component.scss
  src/app/main/component/events/components/event-details/event-details.component.ts
  src/app/main/component/events/components/events-preview-page/events-preview-page.component.html
  src/app/main/component/events/components/events-preview-page/events-preview-page.component.scss
Labels: bug, Event
